body {
  padding-left: 2em;
  padding-right: 2em;
  font-family: 'Jomolhari', serif;
  background-color: #D1DCFF;
}

#container{
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.index{
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style: square;
}

h1 {
  color: #425180 ;
  text-align: center;
}

h2 {
  color: #425180;
}

nav{
  background-color: #6A81CC;
  text-align: center;
  border: none;
  display: block;
  color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

nav ul{
  list-style-type: none;	
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}

nav li{
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #425180;
  color: white;
}

img{
  width: 20em;
  height: 20em;
  border: 1px solid #ddd;
  margin-right: auto;
  margin-left: auto;
}

.index ul{
  color:#425180;
}

.index h3{
  color: white;
  background-color: #84A1FF ;
}

.index p{
  color:#696E80;
}

.internship{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}


.internship ul{
  color:white;
  background-color:#6A81CC;
}

.internship h3{
  color: #425180;
  text-align: center;
}

.internship p{
  color:#425180 ;
  text-align: center;
}

.video{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.video p{
  color: #425180;
}

#map{
  height:400px;
  padding: 20px;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.travels p{
  text-align: center;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.slider{
  width:90%;
  height: 400px;
  margin:50px auto;
  position: relative;
  overflow: hidden;
  border:5px solid blue;
}

.slider figure{
  margin:0px;
  position: relative;
  width: 500%;
  left:0px;
  transition: 1s ease-in-out;
}

.slider figure img{
  width:20%;
  height: 100%;
}

.btn-next, .btn-prev{
  position: absolute;
  top: 45%;
  cursor: pointer;
  color: white;
  background: #3949ab;
  padding: 20px;
  font-size: 50px;
  border:none;
}
.btn-prev{
  left: 0px;
}
.btn-next{
  right: 0px;
}


/* Media Queries */

@media only screen and (min-width: 420px){

  .index{
    width: 400px;
    background-color: white;
  }

  .index nav{
    width: 400px;
    background-color: grey;
    border-color: grey;
    font-size: 10px;
  }

  .index h3{
    background-color: #425180;
    color: white;
  }

  .index p{
    color: black;
  }

  .index h1{
    color:  #303030;
  }
}

@media only screen and (min-width: 703px){

  .index nav{
    width: 800px;
    background-color: #6A81CC;
    border-color: #6A81CC;
    font-size: 15px;
  }

  .index{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #D1DCFF;
  }

  .index h3{
    background-color: #84A1FF;
  }

  .index p{
    color:#696E80;
  }

  .index h1{
    color: #425180 ;
    text-align: center;
  }

